<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>ApplicationIdentifier</key>
        <string>com.jetbrains.intellij</string>
        <key>ApplicationName</key>
        <string>IntelliJ IDEA 15</string>
        <key>DisplayName</key>
        <string>IntelliJ IDEA</string>
        <key>LaunchScript</key>
        <string>idea-tower.sh</string>
        <key>Identifier</key>
        <string>com.jetbrains.intellij</string>
        <key>SupportsMergeTool</key>
        <true/>
        <key>SupportsDiffChangeset</key>
        <true/>
    </dict>
</array>
</plist>
